<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>

<body>
    <header>
        <img src = "/images/logo-mercado-liebre.svg" alt ="Logo mercado logo-mercado-liebre">

        <section>

            <h3>Lugar para poner barra de búsqueda</h3>

            <h3>Comprá en cuptas y sin tarjeta de crédito</h3>

        </section>  

        <nav>
            <ul>
                <li> Ofertas</li>
                <li> Tiendas Oficiales</li>
                <li> Vender</li>
                <li> Ayuda</li>
            </ul>
            <ul>   
                <li> Creá tu cuenta</li>
                <li> Ingresá</li>
                <li> Mis compras</li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>          
            <h2>Basado en tu última visita</h2>

            <article>
                <img src = "/images/img-cafetera-moulinex.jpg">
                <p><h3>$6.770</h3></p>
                <p><h3>40% OFF</h3></p>
                <pv><strong>Cafetera Moulinex</strong></p>
            </article>
             
            <article>
                <img src = "/images/img-macbook-pro-2019.jpg">
                <p><h3>$230.000</h3></p>
                <p><h3>20% OFF</h3></p>
                <p><strong>MacBook Pro 2019</strong></p>
            </article>

            <article>
                <img src = "/images/img-samsung-galaxy-s10.jpg">
                <p><h3>$70.500</h3></p>
                <p><h3>10% OFF</h3></p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </article>

            <article>
                <img src = "/images/img-tv-samsung-smart.jpg">
                <p><h3>$23.200</h3></p
                <p><h3>5% OFF</h3></p>
                <p><strong>SmartTv Samsung 43"</strong></p>
            </article>

        </section>

        <section>
            
            <h2>Sección de Ofertas</h2>
            
            <article>
                <img src = "/images/img-cafetera-moulinex.jpg">
                <p><h3>$6.770</h3></p>
                <p><h3>40% OFF</h3></p>
                <p><strong>Cafetera Moulinex</strong></p>
            </article>
             
            <article>
                <img src = "/images/img-macbook-pro-2019.jpg">
                <p><h3>$230.000</h3></p>
                <p><h3>20% OFF</h3></p>
                <p><strong>MacBook Pro 2019</strong></p>
            </article>

            <article>
                <img src = "/images/img-samsung-galaxy-s10.jpg">
                <p><h3>$70.500</h3></p>
                <p><h3>10% OFF</h3></p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </article>

            <article>
                <img src = "/images/img-tv-samsung-smart.jpg">
                <p><h3>$23.200</h3></p>
                <p><h3>5% OFF</h3></p>
                <p><strong>SmartTv Samsung 43"</strong></p>
            </article>

        </section>

    </main>
</body>

    <footer>
        <article>
        <p<strong><h4>Pagá con tarjeta o en efectivo</h4></strong></p>
        <p><h4>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</h4></p>

        <p><strong>Envío gratis desde los $2.500</strong></p>
        <p><h4>Solo por estar registrado en Mercado Loebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado puntos.</h4></p>

        <p><strong>Seguridad de principio a fin</strong></p>
        <p><h4>¿No tee gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</h4></p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </article>
    </footer>
    

</html>